<div class="header bg-gradient-danger  pt-6 ">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        </div>
    </div>
  </div>

  <div class="space-top">
   
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
      <div class="row pt-3">
        
          <div class="col-lg-3 pl-6">
            <div class="form-group">
              <label class="form-control-label" >Latitude,Longitude</label>
              
              <input formControlName="latitude" type="text" id="latitude" required  class="form-control form-control-alternative" placeholder=" Latitude" name="latitude"  >
              
            </div>
          </div>
         
          <div class="col-lg-3">
            <div class="form-group pt-4">
              <button type="submit" class="btn btn-success col-lg-6">Submit</button>
            </div>
          </div>
          
          


        
        
      </div>
      
    </div>
    

  </div>
