<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row mt-5">
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total personnel</h5>
                  <span class="h2 font-weight-bold mb-0">0{{this.TotalEmp}}</span>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Vehicals</h5>
                  <span class="h2 font-weight-bold mb-0">0{{this.TotalVhl}}</span>
                </div>
               
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Total Assets</h5>
                  <span class="h2 font-weight-bold mb-0">0{{this.Totalast}}</span>
                </div>
                <div class="col-auto">
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7 mb-8">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <div id="map" class="map-canvas" leaflet (leafletMapReady)="onMapReady($event)"  [leafletOptions]="mapOptions">
          <div class=" mypa "></div>
        </div>
        
      </div>
    </div>
  </div>
</div>
  