
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Better Solutions For Your Business</h1>
        <h2>The  Mine project involved the commissioning, design, installation, and testing of a  Digital System. We implemented a Reverse Tracking solution with Wi-Fi coverage (where required) for two-way messaging and VoIP communications.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a routerLink="/auth/signup" class="btn-get-started scrollto">Sign Up</a>
          <a routerLink="/auth/login" class="btn-get-started scrollto" style="margin-left: 10px;">Sign iN</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->