<div class="header bg-gradient-danger pb-5 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        </div>
    </div>
</div>
  <div class="col-xl-12 order-xl-1 mt-4">
    <div class="card bg-secondary shadow ">
      <div class="card-header bg-white ">
        <div class="row align-items-center">
          <div class="col-8">
            <h3 class="mb-0">WiFi Tag/Devices Detail</h3>
          </div>
        </div>
      </div>

      <div class="card-body bg-white">
        <form [formGroup]="wifiTagsForm" (ngSubmit)="onSubmit()">
          <h6 class="heading-small text-muted mb-4">Tags information</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                <label class="form-control-label" >Name</label>
                
                <input formControlName="name" type="text" id="name" required  class="form-control form-control-alternative" placeholder="Name" name="name">
                
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                <label class="form-control-label" >Tag ID/MAC Address <span> (Enter without colon ":")</span></label>
                <input formControlName="tag_mac" type="text" id="tag_mac" required  class="form-control form-control-alternative" placeholder="Tag MAC Address" name="tag_mac">
                
                
                </div>
              </div>
  
              <div class="col-lg-6">
                <div class="form-group">
                <label class="form-control-label" >Tag Type</label>
                <select formControlName="tag_type" class="form-control form-control-alternative" >
                  <option [ngValue]="null" disabled>Select tag type</option>
                  <option *ngFor="let tag_type of tag_types" [ngValue]="tag_type.name">{{tag_type.name}}</option>
                </select>
                
                </div>
              </div>
              
            </div>      
          </div>
          <button type="submit" class="btn btn-success col-lg-6">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="pt-5"></div>